<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
  <title>Admin panel</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <title>All users</title>
</head>
<body>
<header>
  <div class="container-fluid" style="padding: 0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <!-- Navbar content -->
          <div class="collapse navbar-collapse" id="user">
            <ul class="navbar-nav mr-auto">
              <a class="navbar-brand font-weight-bold" id="headerUsername"></a>
              <a class="navbar-brand">with roles: </a>
              <a class="navbar-brand" id="headerRoles"></a>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-right" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">

    <div class="col-2" style="padding: 0; padding-top: 15px">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
        </li>
      </ul>
    </div>

    <div class="col-10 bg-light">
      <div class="tab-content" style="padding-top: 15px; height: 100vh">


        <div class="tab-pane fade show active" id="adminPanel">
          <h2>Admin panel</h2>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" id="allUsersTable" href="#allUsers">Users
                table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
            </li>
          </ul>
          <div class="tab-content">

            <div class="tab-pane fade show active" id="allUsers">
              <div class="card">
                <h5 class="card-header">All users</h5>
                <div class="card-body text-center">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Age</th>
                      <th>Email</th>
                      <th>Roles</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyAllUserTable">
                  </table>
                </div>
              </div>
            </div>


            <div class="tab-pane fade" id="newUser">
              <div class="form-group">
                <div class="control-group required">
                  <div class="card">
                    <h5 class="card-header">Add new user</h5>
                    <div class="card-body text-center">
                      <div class="form justify-content-center mx-auto col-5">
                        <form id="formNewUser" name="formNewUser">
                          <p>
                            <label class="container-fluid" for="newUserFirstName"><strong>First
                              Name</strong>
                              <input class="form-control" type="text" name="firstName"
                                     id="newUserFirstName"/>
                            </label>
                          </p>
                          <p>
                            <label class="container-fluid" for="newUserLastName"><strong>Last
                              name</strong>
                              <input class="form-control" type="text" name="lastName"
                                     id="newUserLastName" required/>
                            </label>
                          </p>

                          <p>
                            <label class="container-fluid"
                                   for="newUserAge"><strong>Age</strong>
                              <input class="form-control" type="number" name="age"
                                     id="newUserAge" required/>
                            </label>
                          </p>
                          <p>
                            <label class="container-fluid"
                                   for="newUserEmail"><strong>Email</strong>
                              <input class="form-control" type="text" name="email"
                                     id="newUserEmail" required/>
                            </label>
                          </p>
                          <p>
                            <label class="container-fluid" for="newUserPassword"><strong>Password</strong>
                              <input class="form-control" type="password" name="password"
                                     id="newUserPassword" required/>
                            </label>
                          </p>
                          <label class="container-fluid"
                                 for="newUserRoles"><strong>Role</strong>
                            <select id="newUserRoles" class="form-control" name="roles"
                                    multiple size="2" required>
                            </select>
                          </label>
                          <button type="submit" id="newUserButton" class="btn btn-success">Add
                            new user
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="userPanel">
          <h2>User information-page</h2>
          <div class="card">
            <h5 class="card-header">About user</h5>
            <div class="card-body text-center">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Age</th>
                  <th>Email</th>
                  <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <tbody id="userPanelBody">
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="formEditUser">
        <div class="modal-header">
          <h5 class="modal-title">Edit user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <div class="form-group required">
            <div class="controls">
              <p>
                <label for="id"><strong>ID</strong>
                  <input class="form-control" type="number" name="id" id="id" th:value="*{id}"
                         disabled>
                </label>
              </p>
              <p>
                <label for="firstName"><strong>First name</strong>
                  <input class="form-control" type="text" name="firstName"
                         id="firstName" th:value="*{firstName}">
                </label>
              </p>
              <p>
                <label for="lastName"><strong>Last name</strong>
                  <input class="form-control" type="text" name="lastName"
                         id="lastName" th:value="*{lastName}">
                </label>
              </p>
              <p>
                <label for="age"><strong>Age</strong>
                  <input class="form-control" type="number" name="age"
                         id="age" th:value="*{age}">
                </label>
              </p>
              <p>
                <label for="email"><strong>Email</strong>
                  <input class="form-control" type="text" name="email"
                         id="email" th:value="*{email}">
                </label>
              </p>
              <p>
                <label for="password"><strong>Password</strong>
                  <input class="form-control" type="password" name="password"
                         id="password" >
                </label>
              </p>
              <label class="container-fluid col-6" for="rolesEditUser"><strong>Role</strong>
                <select class="form-control" id="rolesEditUser" name="roles" multiple size="2">
                </select>
              </label>
              <h1></h1>
            </div>
            <div class="modal-footer">
              <button type="button" id="editFormCloseButton" class="btn btn-secondary"
                      data-dismiss="modal">Close
              </button>
              <button type="submit" class="btn btn-primary">Edit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="formDeleteUser">
        <div class="modal-header">
          <h5 class="modal-title">Delete user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <div class="form-group required">
            <div class="controls">
              <p>
                <label for="deleteId"><strong>ID</strong>
                  <input class="form-control" type="number" name="id" id="deleteId" th:value="*{id}"
                         disabled>
                </label>
              </p>
              <p>
                <label for="deleteFirstName"><strong>First name</strong>
                  <input class="form-control" type="text" name="firstName" id="deleteFirstName"
                         th:value="*{firstName}" disabled>
                </label>
              </p>
              <p>
                <label for="deleteLastName"><strong>Last name</strong>
                  <input class="form-control" type="text" name="lastName" id="deleteLastName"
                         th:value="*{lastName}" disabled>
                </label>
              </p>
              <p>
                <label for="deleteAge"><strong>Age</strong>
                  <input class="form-control" type="number" name="age" id="deleteAge"
                         th:value="*{age}" disabled>
                </label>
              </p>
              <p>
                <label for="deleteEmail"><strong>Email</strong>
                  <input class="form-control" type="text" name="email" id="deleteEmail"
                         th:value="*{email}" disabled>
                </label>
              </p>
              <label class="container-fluid col-6" for="rolesDeleteUser"><strong>Role</strong>
                <select class="form-control" id="rolesDeleteUser" name="roles" multiple size="2"
                        disabled>

                </select>
              </label>
              <h1></h1>
            </div>
            <div class="modal-footer">
              <button type="button" id="deleteFormCloseButton" class="btn btn-secondary"
                      data-dismiss="modal">Close
              </button>
              <button type="submit" class="btn btn-danger btn btn-primary">Delete</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="AddUser.js"></script>
<script type="text/javascript" src="AllUsers.js"></script>
<script type="text/javascript" src="DeleteModal.js"></script>
<script type="text/javascript" src="DeleteUser.js"></script>
<script type="text/javascript" src="EditModal.js"></script>
<script type="text/javascript" src="EditUser.js"></script>
<script type="text/javascript" src="UserPage.js"></script>
</body>
</html>